body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:#c40001;
}

header {
    background-color: #c40001;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    background-color: #c40001;
}

nav a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #f2f2f2;
}

section {
    padding: 20px;
}

#inicio img {
    max-width: 100%;
}

#formulario-descarga {
    display: flex;
    flex-direction: column;
}

#formulario-descarga input {
    margin-bottom: 10px;
    padding: 10px;
}

#imagen-noticas {
    height: 10000px;
    width: 100px;
}

footer {
    background-color: #c40001;
    color: #f2f2f2;
    padding: 10px;
    text-align: center;
}